language: python
before_script:
  - pip install -r requirements.txt

script:
  - python -m pytest --cov=src -v
  - export FILELIST=$(git diff --name-only --diff-filter=AM $TRAVIS_BRANCH...$TRAVIS_PULL_REQUEST_SHA -- . ':(exclude)tests/*.py' | uniq | grep .*\.py)
  - if [ -n "$FILELIST" ] ; 
    then pylint --disable=E $FILELIST || exit 0;
    fi
  - if [ -n "$FILELIST" ] ;
    then pylint --disable=all --enable=E $FILELIST
    fi
after_success:
  - coveralls

notifications:
    slack: 4398softwareenggroup:9qpjHnEz4rWIRbq6AHynqSsj
