language: python
before_script:
  - pip install -r requirements.txt

script:
  - python -m pytest --cov=src -v
  - export FILELIST=$(git diff --name-only --diff-filter=AM $TRAVIS_BRANCH...$TRAVIS_PULL_REQUEST_SHA | grep .*\.py)
  - if [ -n "$FILELIST" ] ; 
    then pylint "$FILELIST";
    fi
after_success:
  - coveralls

notifications:
    slack: 4398softwareenggroup:9qpjHnEz4rWIRbq6AHynqSsj
