language: python
before_install:
  - sudo apt-get update
  - sudo apt-get install python-pip
  - sudo pip install --upgrade pip
  - pip install --upgrade pip
  - pip install pylint

script:
  - files=`git diff-tree --no-commit-id --name-only -r $TRAVIS_COMMIT | grep .py`
  - if $files then ; pylint $files ; fi
  - python -m pytest -v

notifications:
    slack: 4398softwareenggroup:9qpjHnEz4rWIRbq6AHynqSsj
